div
{
	display: flex;
	margin: auto;
	color: #E7FFF3;
	text-shadow: 2px 2px 5px #062B19;
}

body
{
	background-color: black;
	font-style: Arial;
}

#header
{
	height: 80px;
	width: 80%;
	justify-content: center;
	align-items: center;
	background-color: #194D33;
}

.gameleft
{
	float: left;
	width: 50%;
	height: 80%;
	margin: 10px;
	justify-content: center;
	align-items: center;
	border: 3px solid #000000;
}

.gameright
{
	float: right;
	width: 50%;
	height: 80%;
	margin: 10px;
	justify-content: center;
	align-items: center;
	border: 3px solid #000000;
	background-color: #ffffff;
}

#game
{
	height: 420px;
	width: 80%;
	justify-content: center;
	align-items: center;
	background-color: #65917B;
	border: 3px solid #000000;
}


#selector
{
	height: 280px;
	width: 80%;
	justify-content: center;
	align-items: center;
	background-color: #15402A;
}
