@font-face {
  font-family: scientifica;
  src: url(assets/fonts/scientifica/scientifica.ttf);
}

@font-face {
  font-family: scientifica-bold;
  src: url(assetsfonts/scientifica/scientificaBold.ttf);
}

@font-face {
  font-family: scientifica-italic;
  src: url(assets/fonts/scientifica/scientificaItalic.ttf);
}

body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	margin: auto;
	color: #E7FFF3;
	text-shadow: 4px 4px #062B19;
	font-family: scientifica;
	font-size: 28px;
}

.header
{
	display: flex;
	height: 80px;
	width: 80%;
	background-color: #194D33;

}

.header#textarea
{
	width: 80%;
	height: 80%;
	margin: 10px;
	background-color: #093D23;
	justify-content: center;
	align-items: center;
}

.header#stats
{
	width: 20%;
	height: 80%;
	margin: 10px;
	background-color: #093D23;
	justify-content: center;
	align-items: center;
}

.game
{
	display: flex;
	width: 80%;
	height: 420px;
	background-image: url(assets/background.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size : 100%;
	background-position: 0% 95%;
	image-rendering: pixelated;
}

.game#gameleft
{
	float: left;
	width: 50%;
	height: 80%;
	margin: 10px;
	text-shadow: 4px 4px #194D33;
	justify-content: space-evenly;
	align-items: flex-end;
	background-image: none;
}

.game#gameright
{
	float: right;
	width: 50%;
	height: 80%;
	margin: 10px;
	text-shadow: 4px 4px #194D33;
	justify-content: space-evenly;
	align-items: flex-end;
	background-image: none;
}

.selector
{
	display:flex;
	justify-content: flex-start;
	width: 80%;
	height: 280px;
	background-color: #15402A;
}

.selectorleft
{
	display:flex;
	align-items: center;
	justify-content: center;
}

.selectorleft#buttonsleft
{
	margin: 10px;
	background-color: #093D23;
	flex-direction: column;
	width: 50%;
}

.selectorright
{
	display:flex;
	align-items: center;
	justify-content: center;
}

.selectorright#buttonsright
{
	margin: 10px;
	background-color: #093D23;
	flex-direction: column;
	width: 50%;
}

.button
{
	display: flex;
	width: 40%;
	height: 10%;
	padding: 10px;
	margin: 10px;
	background-color: #65917B;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.player
{
	image-rendering: pixelated;
	filter: drop-shadow(4px 4px 6px #111111);
	cursor: pointer;
}
.ennemy
{
	image-rendering: pixelated;
	filter: drop-shadow(4px 4px 6px #111111);
	transform: scaleX(-1);
	cursor: pointer;
}
