@font-face {
  font-family: scientifica;
  src: url(fonts/scientifica/scientifica.ttf);
}

@font-face {
  font-family: scientifica-bold;
  src: url(fonts/scientifica/scientificaBold.ttf);
}

@font-face {
  font-family: scientifica-italic;
  src: url(fonts/scientifica/scientificaItalic.ttf);
}

/*div
{
	display: flex;
	margin: auto;
	color: #E7FFF3;
	text-shadow: 4px 4px #062B19;
	font-family: scientifica;
	font-size: 28px;
}*/

body
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	margin: auto;
	color: #E7FFF3;
	text-shadow: 4px 4px #062B19;
	font-family: scientifica;
	font-size: 28px;
}

.header
{
	display: flex;
	height: 80px;
	width: 80%;
	background-color: #194D33;

}

.header#textarea
{
	float: left;
	width: 80%;
	height: 80%;
	margin: 10px;
	background-color: #093D23;
	justify-content: center;
	align-items: center;
}

.header#stats
{
	float: right;
	width: 20%;
	height: 80%;
	margin: 10px;
	background-color: #093D23;
	justify-content: center;
	align-items: center;
}

.game#gameleft
{
	float: left;
	width: 50%;
	height: 80%;
	margin: 10px;
	text-shadow: 4px 4px #194D33;
	justify-content: center;
	align-items: center;
}

.game#gameright
{
	float: right;
	width: 50%;
	height: 80%;
	margin: 10px;
	text-shadow: 4px 4px #194D33;
	justify-content: center;
	align-items: center;
}

.game
{
	display: flex;
	width: 80%;
	height: 420px;
	background-color: #65917B;

}

.selector
{
	display:flex;
	justify-content: flex-start;
	width: 80%;
	height: 280px;
	background-color: #15402A;
}

.selectorleft
{
	display:flex;
	align-items: center;
	justify-content: center;
}

.selectorleft#buttonsleft
{
	/* float: left; */
	/* width: 30%; */
	margin: 10px;
	background-color: #093D23;
	flex-direction: column;
	width: 50%;
}

.selectorright
{
	display:flex;
	align-items: center;
	justify-content: center;
}

.selectorright#buttonsright
{
	/* float: left; */
	/* width: 30%; */
	margin: 10px;
	background-color: #093D23;
	flex-direction: column;
	width: 50%;
}

.button
{
	width: 40%;
	height: 20%;
	padding: 10px;
	margin: 10px;
	background-color: #65917B;
}
